# Auto detect text files and enforce LF line endings for all text files
* text=auto eol=lf

# Specific handling for JavaScript files
*.js text eol=lf
*.jsx text eol=lf

# Specific handling for TypeScript files
*.ts text eol=lf

# Enforce LF line endings for HTML files
*.html text eol=lf

# Enforce LF line endings for CSS files
*.css text eol=lf

# Enforce LF line endings for SCSS files
*.scss text eol=lf
