$background-color: #1a1818;
$text-color: #b4aeae;

$upper-feature-background-color: rgb(255, 106, 106), rgb(106, 255, 114),
  rgb(106, 171, 255);
$logo-container-color: rgb(224, 45, 45), rgb(96, 224, 45), rgb(45, 93, 224);
$logo-symbol-color: rgb(119, 1, 1), rgb(44, 119, 1), rgb(1, 38, 119);

$primary: #f3f3f3;
$arrow-size: 60px;
$border-color: #f3f3f3;
$border-width: 2px;
