.ws-btn {
  position: relative;
  width: 20rem;
  height: 3.5rem;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #E6E6FA;
  border: 2px solid #E6E6FA;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 10rem;
    height: 100%;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #E6E6FA;
    transition: all 0.5s cubic-bezier(0.21, 0.31, 0.12, 0.15);
  }

  &:hover::before {
    scale: 3;
  }

  &:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(154, 177, 255, 0.4);
  }

  &:active {
    scale: 1;
  }
}
